* {
    box-sizing: border-box;
}


/* a 태그에 모든 요소를 초기화 한다. */
a {
    all: unset;
}

a:link {
    text-decoration: none;
    color: #3f464d;
}

a:visited {
    text-decoration: none;
    color: #3f464d;
}

a:active {
    text-decoration: none;
    color: #3f464d;
}

a:hover {
    text-decoration: none;
    color: #3f464d;
}

.inner {
    width: 100%;
    margin: 0, auto;
}

.head--container {
    width: 1000px;
    margin: auto 10px;
    height: 100%;
    display: flex;
    margin-bottom: 20px;
    background-image: url(https://cdn.pixabay.com/photo/2019/04/26/07/14/store-4156934_1280.png);
}

.head--title {
    font-weight: bold;
}

.nav--container {
    width: 170px;
    font-size: 13px;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 20px;
}

.nav--header {
    display: flex;
    justify-content: space-between;
}

.main--title {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.main--title--name {
    font-weight: bold;
}

.nav--and--title {
    display: flex;
    align-items: flex-start;
}

.roadmap--container {
    width: 100%;
    margin-top: 2rem;
}

.section--all {
    display: flex;
}

/* ================================ */

.article--container {
    display: flex;
    flex-direction: column;
    border: 1px solid blueviolet;
    width: 730px;
}

.content--list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.content--info {
    width: 45%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    
}
.content--title {
    width: 170px;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsiss;
}



